.root {
	position: relative;
	width: 400px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 12px 20px;
	margin: 0 auto 0 50px;
	border-radius: 5px;

	transition: all 0.35s ease;

	@media (max-width: 768px) {
		width: 100%;
		margin: 0;
	}

	.input {
		width: 95%;
		border: none;
		font-size: 16px;
		font-weight: 800;

		&:-webkit-autofill {
			&:focus {
				transition: all 50000s ease-in-out;
				background: inherit;
			}
		}

		&::-webkit-input-placeholder {
			color: rgba(27, 28, 21, 0.5);
			opacity: 1;
			transition: all 0.5s;
		}
		&::-moz-placeholder {
			color: rgba(27, 28, 21, 0.5);
			opacity: 1;
			transition: all 0.5s;
		}
		&:-moz-placeholder {
			color: rgba(27, 28, 21, 0.5);
			opacity: 1;
			transition: all 0.5s;
		}
		&:-ms-input-placeholder {
			color: rgba(27, 28, 21, 0.5);
			opacity: 1;
			transition: all 0.5s;
		}

		&:hover,
		&:focus {
			&::-webkit-input-placeholder {
				opacity: 0;
			}
			&::-moz-placeholder {
				opacity: 0;
			}
			&:-ms-input-placeholder {
				opacity: 0;
			}
			&:-ms-input-placeholder {
				opacity: 0;
			}
		}
	}

	.clear {
		position: absolute;
		right: 10px;
		top: 12px;
		width: 22px;
		height: 22px;
		opacity: 0.5;
		transition: all 0.35s ease;
		cursor: pointer;

		&:hover {
			opacity: 1;
			transform: scale(1.15);
		}
	}
}
